*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: white;
    height:5rem;
    text-align: center;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    background-color: #7c6f6f;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.choice:hover{
    /* opacity: 0.8; */
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.scoreBoard{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 7rem;
    font-size: 2rem;
}

#user-score,#computer-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: brown;
    color: white;
    height: 3rem;
    font-size: 2rem;
    display: inline;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
}